/* ------------------------- Splash Image and Project Title ------------------------- */
.splash-img{
  z-index: 0;
}
.img-container{
  position:relative;
}

/* Title Positioning */
.project-title{
  position:absolute;
  transform-origin: center;
  top: 50%;
  z-index: 1;
  left: 0;
  text-align:center;
  width: 100%;
}
/* Title Text Formatting */
.project-title h1{
  font-family: 'Montserrat', sans-serif;
  font-size:2.5rem;
  font-weight:500;   
  color: white;
  padding-bottom:0.5rem;
}
/* Subtitle Text Formatting */
.project-title h2{
  font-family: 'Montserrat', sans-serif;
  font-size:large;
  font-weight:lighter; 
  color: white;
}


/* ------------------------- Project Breadcrumb ------------------------- */
ol.breadcrumb {
    color:aqua;
    margin:0.5rem 0 0.5rem 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}
li.breadcrumb-item{
    color:white;
}

li.breadcrumb-item a{
    text-decoration: none;
    color:white;
}

li.breadcrumb-item a:hover{
    font-weight: bold;
}

li.breadcrumb-item.active::before{
    color: white;
}

--bs-breadcrumb-divider{
    color:white;
}

ol.breadcrumb > li.breadcrumb-item.active > span{
    color:white;
}

/* ------------------------- Last Updated ------------------------- */

.last-updated{
    padding:1rem 0 1rem 4rem;
    font-size:medium;
    font-family: 'Montserrat', sans-serif;
}
.last-updated span{
    font-weight:bold;
}

/* ------------------------- Sidebar Navigation ------------------------- */
.toc {
    position: sticky;
    background: rgb(255, 0, 0);
    border-radius: 0 2rem 2rem 0;
    left: 0;
    /* top: calc(70px + 10vh); */
    top:70px;
    padding: 1em;
    /* width: 14em; */
    /* height: 100vh; */
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
    color:aqua;
  }

  .toc ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .toc ul ul {
    padding-left: 2em;
  }
  
  /* TOC Items */
  .toc li a {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }
  /* Hover over TOC Links  */
  .toc li a:hover {
    font-weight:bold;

    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }

  /* Your current location on the article */
  .toc li.visible > a {
    font-weight:bold;
    color: rgb(255, 255, 255);
    transform: translate(5px);
  }

  /* --------- Table of Contents Marker ------------ */
  .toc-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .toc-marker path {
    transition: all 0.3s ease;
  }
  .contents {
    padding: 1em;
    max-width: 800px;
    font-size: 1.2em;
    font-family: "Frank Ruhl Libre", sans-serif;
  }
  .contents img {
    max-width: 100%;
  }
  .contents .code-block {
    white-space: pre;
    overflow: auto;
    max-width: 100%;
  }
  .contents .code-block code {
    display: block;
    background-color: #f9f9f9;
    padding: 10px;
  }
  .contents .code-inline {
    background-color: #f9f9f9;
    padding: 4px;
  }
  .contents h2,
  .contents h3 {
    padding-top: 1em;
  }