/* ------------------------- Filter Buttons ------------------------- */

/* Shitty solution - so that cards don't cause too much jumping around */
section.projects .container-lg{
    min-height: 888.578px;
}

.filtering-header{
    position: relative;
    z-index: 1;
    padding-top:20px;
}

.nav-item *{
    align-items: center;
    vertical-align: middle;    
}

.filter-nav{
    /* display: table-cell; */
    align-items: center;
    vertical-align: middle;    
    cursor: pointer;
}

.filter-nav img{
    margin:0.2em;
    height:2.2rem;
    width:2.2rem;
}

.filter-nav span{
    padding:2rem 0 2rem 0;
    color:black;
}

/* Active Navs */
.filter-nav.active span{
    color:white;
}
.filter-nav.active img{
    filter:invert(1);
}

.nav-item .filter-nav.active{
    background-color: #f44336;
    filter:drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.272));
}
/* Hover over Buttons */


.nav-item .filter-nav:hover{
    background-color: rgb(212, 212, 212);
}

.nav-item .filter-nav.active:hover{
    background-color: #f44336;
}
