/* ------------------------- Splash Image and Project Title ------------------------- */
/* html {
  scroll-behavior: smooth;
} */
.splash-img{
  z-index: 0;
}
.img-container{
  position:relative;
}

/* Title Positioning */
.project-title{
  position:absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width:100%;
  /* height:100%; */
  text-align:center;
  -webkit-transform: translate(-50%, -50%); /* iOS */
  transform: translate(-50%, -50%);

  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0rem;
  
}

/* Title Text Formatting */
.project-title h1{
  font-family: 'Montserrat', sans-serif;

  font-size:2.8rem;

  font-weight:500;   
  color: white;
  padding-top:1.2rem;
  padding-bottom:1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Subtitle Text Formatting */
.project-title h2{
  font-family: 'Montserrat', sans-serif;
  font-size:1.2rem;
  font-weight:lighter; 
  color: white;
  padding-bottom:1rem;
}

@media (min-width: 576px){
  .project-title{
    width:auto;
    height:auto;
    border-radius: 1rem;
  }
  .project-title h1{
    font-size:2.8rem; 
    padding-top:1.2rem;
    padding-bottom:1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .project-title h2{
    font-family: 'Montserrat', sans-serif;
    font-size:larger;
    font-weight:lighter; 
    color: white;
    padding-bottom:1rem;
  }
}



/* .project-title h2:after{
  content: " ";
  background-color: black;
} */

/* article h2{
  border-bottom: 1px black solid;
} */

/* ------------------------- Project Breadcrumb ------------------------- */
ol.breadcrumb {
  color:aqua;
  margin:0.5rem 0 0.5rem 12px;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
}
li.breadcrumb-item{
  color:white;
}

li.breadcrumb-item a{
  text-decoration: none;
  color:white;
}

li.breadcrumb-item a:hover{
  font-weight: bold;
}

li.breadcrumb-item.active::before{
  color: white;
}

--bs-breadcrumb-divider{
  color:white;
}

ol.breadcrumb > li.breadcrumb-item.active > span{
  color:white;
}

/* ------------------------- Last Updated ------------------------- */

.last-updated{
  position: relative;
  z-index: 2;
  padding:1rem 0 1rem 4rem;
  font-size:medium;
  font-family: 'Montserrat', sans-serif;
}
.last-updated span{
  font-weight:bold;
}

  /* --------- Article ------------ */
  article.contents{
    position: relative;
    z-index: 1;
    max-width: 100%;
    padding-left: 0;
    padding-bottom: 4rem;
  }

  #item-1 h2{
    padding-top:0;
  }

  p {
    margin: 0 0 10px;

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    line-height: 1.5em;
  }

  /*--------- Lists --------- */
  article li {
    list-style-type: none;
    display: grid;
    /* row-gap: 10px; */
    grid-gap: 10px;
    grid-template-columns: 20px auto;
    justify-content: start;
    /* align-items: center; */
  }

  section ul{
    padding-left:1rem;
  }

  article section ul > *:not(:last-child) {
  
    margin-bottom:10px;

  }

  article li::before {
    content: '▶';
    /* position: relative; */
    /* left: 25em; */
  }

  /* --------- Embedded Youtube Videos ------------ */

  .video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

  .video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

  /* I want slideshows that have captions, left and right buttons, and you can full-size the slideshow and click off if you want to. */

