/* ------------------------- Splash Image and Project Title ------------------------- */
.splash-img{
  z-index: 0;
}
.img-container{
  position:relative;
}

/* Title Positioning */
.project-title{
  position:absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  text-align:center;
  -webkit-transform: translate(-50%, -50%); /* iOS */
  transform: translate(-50%, -50%);

  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  
}

/* Title Text Formatting */
.project-title h1{
  font-family: 'Montserrat', sans-serif;
  font-size:2.8rem;
  font-weight:500;   
  color: white;
  padding-top:1.2rem;
  padding-bottom:1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Subtitle Text Formatting */
.project-title h2{
  font-family: 'Montserrat', sans-serif;
  font-size:larger;
  font-weight:lighter; 
  color: white;
  padding-bottom:1rem;
}

/* .project-title h2:after{
  content: " ";
  background-color: black;
} */

/* article h2{
  border-bottom: 1px black solid;
} */


/* ------------------------- Project Breadcrumb ------------------------- */
ol.breadcrumb {
    color:aqua;
    margin:0.5rem 0 0.5rem 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}
li.breadcrumb-item{
    color:white;
}

li.breadcrumb-item a{
    text-decoration: none;
    color:white;
}

li.breadcrumb-item a:hover{
    font-weight: bold;
}

li.breadcrumb-item.active::before{
    color: white;
}

--bs-breadcrumb-divider{
    color:white;
}

ol.breadcrumb > li.breadcrumb-item.active > span{
    color:white;
}

/* ------------------------- Last Updated ------------------------- */

.last-updated{
    padding:1rem 0 1rem 4rem;
    font-size:medium;
    font-family: 'Montserrat', sans-serif;
}
.last-updated span{
    font-weight:bold;
}

/* ------------------------- Sidebar Navigation ------------------------- */
.toc {
    position: sticky;
    /* background: rgb(255, 0, 0); */
    border-radius: 0 2rem 2rem 0;
    left: 0;
    /* top: calc(70px + 10vh); */
    top:70px;
    padding: 1em;
    /* width: 14em; */
    /* height: 100vh; */
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
    color:aqua;
  }

  .toc div{
    /* border-bottom:1px solid black; */
    color:black;
  }

  .toc div b{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color: rgb(94, 94, 94);
    text-decoration-color: rgb(157, 157, 157);
    font-weight: 200;
    margin-bottom:20em;
  }


  .toc ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .toc ul ul {
    padding-left: 2em;
  }
  
  /* TOC Items */
  .toc li a {
    display: inline-block;
    /* color: rgb(255, 255, 255); */
    color: black;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }
  /* Hover over TOC Links  */
  .toc li a:hover {
    font-weight:bold;

    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }

  /* Your current location on the article */
  .toc li.visible > a {
    font-weight:bold;
    /* color: rgb(255, 255, 255); */
    color: black;
    transform: translate(5px);
  }

  /* --------- Table of Contents Marker ------------ */
  .toc-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .toc-marker path {
    transition: all 0.3s ease;
  }
  .contents {
    padding: 1em;
    max-width: 800px;
    font-size: 1.2em;
    font-family: "Frank Ruhl Libre", sans-serif;
  }
  .contents img {
    max-width: 100%;
  }
  .contents .code-block {
    white-space: pre;
    overflow: auto;
    max-width: 100%;
  }
  .contents .code-block code {
    display: block;
    background-color: #f9f9f9;
    padding: 10px;
  }
  .contents .code-inline {
    background-color: #f9f9f9;
    padding: 4px;
  }
  .contents h2,
  .contents h3 {
    padding-top: 1em;
  }

  /* --------- Article ------------ */
  article.contents{
    max-width: 100%;
  }

  p {
    margin: 0 0 10px;

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    line-height: 1.5em;
  }

  /* --------- Embedded Youtube Videos ------------ */

  .video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

  .video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

  /* I want slideshows that have captions, left and right buttons, and you can full-size the slideshow and click off if you want to. */

