* {
    box-sizing: border-box;
}

/* Hide slideshow images by default */
.mySlides {
display: none;
position: relative;
}

.mySlides .caption-text{
    position:relative;
    z-index:3;
}

.active-slide {
display:block;
position: relative;
}

/* Position the image container (needed to position the left and right arrows) */
.slideshow-container {
position: relative;
}

/* Next & Previous Divs */
.hover-bar{
    z-index:1;
    position:absolute;
    height:100%;
    width: 15%;
    top:0;
    /* margin: 1em; */
    /* vertical-align: middle;
    justify-content: center;
    align-content: center; */
}

.hover-bar.left{
    left:0%;
}

.hover-bar.right{
    right:0%;
}


/* Next & previous buttons */


.prev,
.next {
cursor: pointer;
display:flex;
vertical-align: middle;
align-items:center;
justify-content:center;
text-decoration: none;
position: relative;
z-index: 6;
box-sizing: border-box;
/* top: 50%; */
width: 100%;
height: 100%;

color: rgba(255, 255, 255, 0.719);
font-weight: bold;
transition: color 0.15s;
font-size: 24px;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
}

/* Backgrounds */

/* Spans */
.prev span,
.next span{
    position:absolute; 
    z-index:1;
    width:100%;
    height:100%;
    top:0;
    left: 0;
}

.prev span{
    background-image: linear-gradient(to left, rgba(68,68,68,0), rgba(134, 134, 134, 0.25), rgba(197, 197, 197, 0.5));
    transition: opacity 0.15s linear;
    opacity: 0;
}

.next span{
    background-image: linear-gradient(to right, rgba(68,68,68,0), rgba(134, 134, 134, 0.25), rgba(197, 197, 197, 0.5));
    transition: opacity 0.15s linear;
    opacity: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    color:white;
    font-size: 30px;
}

.prev span:hover,
.next span:hover {
    opacity: 1;
}


/* Number text (1/3 etc) */
.numbertext {
position: absolute;
color: #f2f2f2;
z-index:2;
background-color: rgba(0, 0, 0, 0.4);
font-size: 12px;
padding: 8px 12px;
top: 0;
}

/* Expand Text */

/* .expand img{
    filter:invert(1);
    opacity: 0.5;
    position: absolute;
    padding: 8px 12px 8px 12px;
    top: 0;
    right: 0;
    min-height:2em;
    max-height:12%;
} */

.expand img:hover{
    cursor:pointer;
    opacity: 1;
}

/* Container for image text */
.caption-text {
z-index: 3;
text-align: center;
background-color: #222;
padding: 2px 16px;
color: white;
}
  

/* ------------------------- Modal Gallery ------------------------- */
